<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cat 1</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
  </head>
  <body>
    <h1>Details Page for <%= cat[0].name%>:</h1>
    <img src="../images/cat.jpg" alt="A Russian Blue Cat" />
    <h2>Favorite Food: <%= cat[0].food%></h2>
    <h2>Age: <%= cat[0].age%></h2>
    <h2>Sleeping spots: <%= cat[0].sleep%></h2>
  </body>
</html>
