<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Animal</title>
  </head>
  <body>
    <% if(messages.registration) { %> <%- JSON.stringify(messages) %> <% for
    (var x of messages.registration) { %>
    <h3><%= x %></h3>
    <% } %> <% } %>
    <form action="/mongooses/<%= id %>" method="POST">
      <label for="animal">Update Animal: </label>
      <input type="text" name="animal" id="animal" />
      <label for="name">Update Name of Animal: </label>
      <input type="text" name="name" id="name" />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
