.newTask {
    text-align: center;
    margin: 0 auto;
    border: 3px solid salmon;
    background-color: antiquewhite;
    padding: 1%;
    margin: 1%;
}

.tasks {
    text-align: center;
    margin: 0 auto;
    border: 3px solid yellow;
    background-color: aliceblue;
    padding: 1%;
    margin: 1%;
}

.showTask {
    text-align: center;
    margin: 0 auto;
    border: 3px solid green;
    background-color: blanchedalmond;
    padding: 1%;
    margin: 1%;
}