<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var socket = io.connect("http://localhost:8000");

        $("#form").on("submit", function(e) {
          e.preventDefault();
          socket.emit("posting_form", {
            name: $("#name").val(),
            dojo: $("#dojo").val(),
            language: $("#language").val(),
            comment: $("#comment").val()
          });
        });

        socket.on("updated_message", function(data) {
          console.log("Got the user!");
          document.getElementById("user").innerHTML =
            data.userData + "<br>" + data.message;
        });
      });
    </script>
  </head>
  <body>
    <h6 id="user">efawefgwreg</h6>
    <form id="form">
      <label for="name">Your Name: </label>
      <input type="text" name="name" id="name" />
      <label for="dojo">Dojo Location: </label>
      <select name="dojo" id="dojo">
        <option value="Seattle">Seattle</option>
        <option value="Mountain View">Mountain View</option>
        <option value="Denver">Denver</option>
        <option value="Burbank">Burbank</option>
      </select>
      <label for="language">Favorite Language: </label>
      <select name="language" id="language">
        <option value="Javascript">Javascript</option>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="C#">C#</option>
      </select>
      <label for="comment">Comment(optional): </label>
      <textarea
        name="comment"
        rows="10"
        cols="30"
        placeholder="Enter a comment"
        id="comment"
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
