#container {
    position: absolute;
    top: 30%;
    left: 40%;
    border: 1px solid black;
    padding: 5%;
}

#conversation_board {
    display: none;
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
}

#user_list {
    position: absolute;
    top: 7%;
    left: 55%;
    width: auto;
    padding: 1%;
    background-color: azure;
    text-align: center;
    display: none;
}

#messageForm {
    display: none;
}

#title {
    display: none;
}

p {
    display: block;
}